/* Don't change the existing CSS. */
#outer-box {
	background-color: purple;
}

.box {
	background-color: blue;
	padding: 10px;
}
p {
	color: yellow;
	margin: 0;
	padding: 0;
}
.inner-box {
	color: white;
	background-color: red;
	padding: 10px;
}
.white-text {
	color: white;
}
